---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

#profile_icons {
  display: flex;
  justify-content: center;
}

.profile_icon {
  
  width: 24px;
  height: 24px;
  margin: 0 8px;
}